## Data Cleanup and Manipulation
### Lushan Earthquake - April 20, 2013

<br> https://www.nature.com/articles/s43247-023-00860-z
<br> Gravity value after correcting hydrological gravity effect: g1(mGal) and the error of gravity values:error(Î¼Gal), collected from 7 data sets before and after the earthquakes. Longitude and Latidude are recorded for each point, as well as the corresponding gravity value and error for each month recorded.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read in data file
df = pd.read_excel("lushan_data.xlsx", skiprows=[0, 1, 3])
df.head(10)

,longitude,latitude,2010/09,Unnamed: 3,2011/03,Unnamed: 5,2011/09,Unnamed: 7,2012/04,Unnamed: 9,2012/10,Unnamed: 11,2013/05,Unnamed: 13,2013/09,Unnamed: 15
0,102.308,28.962,NaN,NaN,599.1456,8.79,595.7568,8.72,600.5913,4.65,593.9640,5.12,598.0249,5.74,592.1009,6.19
1,102.260,28.735,564.7666,9.47,570.2215,9.50,566.9807,9.13,571.7596,5.04,565.1085,5.48,568.5308,6.23,563.3732,6.73
2,102.180,28.446,652.6191,10.93,659.4859,10.74,658.3773,10.56,663.2789,5.75,652.7854,6.11,658.6828,7.03,651.0573,7.63
3,102.178,28.257,654.4718,11.40,661.3853,11.15,662.0414,11.00,666.1762,6.10,654.6738,6.32,660.8134,7.29,652.7720,7.92
4,102.186,28.144,660.3087,11.79,667.1004,11.48,668.3155,11.37,672.1609,6.39,660.6145,6.50,666.8024,7.50,658.9047,8.17
5,102.200,27.689,NaN,NaN,669.1209,12.62,671.9684,12.57,676.5332,7.27,664.1827,7.09,671.9232,8.10,665.5484,9.00
6,102.324,27.320,638.4406,13.97,644.6561,13.94,645.5525,13.90,651.2293,7.86,639.5271,7.78,646.6281,8.96,639.5842,9.94
7,102.284,27.194,654.6236,14.26,661.0342,14.20,662.3151,14.16,668.1619,8.01,655.7803,7.91,663.3415,9.13,656.4676,10.13
8,102.252,27.105,629.9730,14.43,636.5684,14.39,638.1737,14.33,643.9365,8.15,631.4486,8.01,639.2494,9.25,632.0377,10.28
9,102.278,26.897,NaN,NaN,525.5275,14.50,526.0100,14.42,531.2660,8.31,521.3023,8.06,528.3308,9.32,520.8569,10.37