### Data Cleanup and Manipulation

Data from these links: (need to find data sets)
<br> https://www.eas.slu.edu/GGP/tohoku2011.html
<br> https://www.nature.com/articles/s43247-023-00860-z
<br> https://link.springer.com/article/10.1007/s00024-019-02356-4

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_excel("lushan_gravity_data_2.xlsx")
df.head(10)

   longitude  latitude  gravity change calculated by the MBGA method  error
0    102.260    28.735                                    -24.868205   9.50
1    102.180    28.446                                    -16.306888  10.74
2    102.178    28.257                                    -14.865870  11.15
3    102.186    28.144                                    -32.072270  11.48
4    102.324    27.320                                    -19.371810  13.94
5    102.284    27.194                                    -38.086491  14.20
6    102.252    27.105                                    -39.053946  14.39
7    102.245    26.651                                    -37.806671  14.53
8    102.440    26.562                                    -40.881483  14.77
9    102.602    26.658                                    -42.296969  14.96

In [8]:
plt.bar(df["gravity change calculated by the MBGA method"])

TypeError: bar() missing 1 required positional argument: 'height'